django-cors-headers==3.7.0
django-environ==0.4.5
django-extensions==3.1.1
django-filter==2.4.0
django-mptt==0.11.0
Django==3.1.6
djangorestframework==3.12.2
graphene-django==2.15.0
graphene==2.1.8
model-bakery==1.2.1
psycopg2-binary==2.8.6
pytils==0.3
