{% extends 'base.html' %}

{% load webpack_static from webpack_loader %}

{% block header %}{% endblock %}
{% block content %}
    <div class="row main-row">
        <div class="col-6 left-side">
            <div class="background"></div>
            <a href="{% url 'core:index' %}"><img src="{% webpack_static 'img/black-logo.svg' %}" alt="logo"></a>
            <img class="login-img" src="{% webpack_static 'img/login-image.png' %}" alt="">
            <p>© SkillHub 2022</p>
        </div>

        <div class="col-6 login--wrapper">
            <h2 class="font-weight-bold mt-3">Сброс пароля</h2>
            <hr>
            <p class="forgot-password-text">
                Забыли свой пароль? Введите свой адрес электронной почты ниже и мы вышлем инструкции по настройке нового адреса.
            </p>
            <form method="POST" class="form">
                {% csrf_token %}
                <div class="forgot-email-form">
                    {{ form }}
                </div>
                <button class="login-button" type="submit">Сбросить пароль</button>
            </form>
        </div>
    </div>

    <script>
        const email = document.querySelector('#id_email');
        const button = document.querySelector('.login-button');

        email.addEventListener('input', changeBackground);

        function changeBackground() {
            if (email.value !== '') {
                button.classList.add('active');
                button.disabled = false;
            } else {
                button.classList.remove('active');
                button.disabled = true;
            }
        }
    </script>
{% endblock %}
{% block footer %}{% endblock %}
