{% extends 'base.html' %}

{% load bootstrap4 %}
{% load render_table from django_tables2 %}
{% load count_courses %}
{% load multiply_icon %}


{% block content %}
  {% if category %}
    <h1>{{ category.name }}</h1>
    {% if category.description %}
      <p>{{ category.description }}</p>
    {% endif %}
  {% else %}
    <h1>Все курсы</h1>
  {% endif %}

  {% if category %}
    {% if category.get_root == category %}
      <div class="badges mt-5">
        <a href="{% url 'courses:list' %}?categories={{ category.pk }}" class="badge badge-dark">Все ({{ category.get_family|count_courses }})</a>
        {% for child in category.get_children %}
          <a href="{% url 'courses:list' %}?categories={{ child.pk }}" class="badge badge-primary">{{ child.name }} ({{ child.course_set.count }})</a>
        {% endfor %}
      </div>
    {% else %}
      <div class="badges mt-5">
        <a href="{% url 'courses:list' %}?categories={{ category.get_root.pk }}" class="badge badge-primary">{{ category.get_root.name }} ({{ category.get_root.get_family|count_courses }})</a>
        {% for child in category.get_root.get_children %}
          <a href="{% url 'courses:list' %}?categories={{ child.pk }}" class="badge {% if request.GET.categories == child.pk|slugify %}badge-dark{% else %}badge-primary{% endif %}">{{ child.name }} ({{ child.course_set.count }})</a>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  <form class="mt-5">
    {% if request.GET.categories %}
      <input type="hidden" name="categories" value="{{ request.GET.categories }}">
    {% endif %}
    <div>
      <div class="form-row align-items-center">
        <div class="col-lg">
          <label for="school">Школа</label>
          <select id="school" class="form-control" name="school">
            <option value="" {% if not request.GET.school %}selected{% endif %}>Любая</option>
            {% for school in schools %}
              <option value="{{ school.pk }}" {% if request.GET.school == school.pk|slugify %}selected{% endif %}>{{ school.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-lg">
          <label for="rating">Рейтинг</label>
          <select id="rating" class="form-control" name="school__rating">
            <option value="" {% if not request.GET.school__rating %}selected{% endif %}>Любой</option>
            {% for score in '54321' %}
              <option value="{{ score }}" {% if request.GET.school__rating == score %}selected{% endif %}>{% multiply_icon '⭐' score %}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-lg">
          <label for="price">Цена</label>
          <select id="price" class="form-control" name="price_category">
            <option value="" {% if not request.GET.price_category %}selected{% endif %}>Любая</option>
            {% for number in '54321' %}
              <option value="{{ number }}" {% if request.GET.price_category == number %}selected{% endif %}>{% multiply_icon '💰' number %}</option>
            {% endfor %}
            <option value="0" {% if request.GET.price_category == 0 %}selected{% endif %}>Бесплатно</option>
          </select>
        </div>
        <div class="col-lg">
          <label for="duration">Продолжительность</label>
          <select id="duration" class="form-control" name="duration_category">
            <option value="" {% if not request.GET.duration_category %}selected{% endif %}>Любая</option>
            {% for number in '54321' %}
              <option value="{{ number }}" {% if request.GET.duration_category == number %}selected{% endif %}>{% multiply_icon '⏳' number %}</option>
            {% endfor %}
          </select>
        </div>
      </div>


      {#    <div class="col-lg">#}
      {#      <div class="form-check">#}
      {#        <input class="form-check-input" type="checkbox" id="free" name="free" value="true" {% if request.GET.free == 'true' %}checked{% endif %}>#}
      {#        <label class="form-check-label" for="free">Только бесплатные</label>#}
      {#      </div>#}
      {#    </div>#}

      {#      <div class="col-lg d-lg-flex flex-row-reverse mt-3 mt-lg-0">#}
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Применить фильтр</button>
        {% if request.GET.categories %}
          <a href="{% url 'courses:list' %}?categories={{ request.GET.categories }}" class="btn btn-warning">Сбросить</a>
        {% else %}
          <a href="{% url 'courses:list' %}" class="btn btn-warning">Сбросить</a>
        {% endif %}
      </div>
    </div>
  </form>

  <div id='table'>
    {% include 'courses/table.html' %}
  </div>
{% endblock content %}

{% block script %}
  <script>
      function nextPageHandler(e) {
          e.preventDefault();

          const $obj = $(this);
          const urlLink = $obj.attr("href");

          $obj.unbind("click", nextPageHandler);

          $.get(urlLink, function (data) {
              $('#table').html(data)
              $('html, body').animate({scrollTop: $(document).height()}, 0);
          }).done(function () {
              $('#show-more').bind("click", nextPageHandler);
          });
      }

      $('#show-more').click(nextPageHandler);
  </script>
{% endblock %}
