html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin-bottom: 60px;
  @media all and (max-width: 768px) {
    margin-bottom: 86px !important;
  }
}

.mycont {
  max-width: 1200px !important;
}

// .myrow {
//   margin-left: 0 !important;
//   margin-right: 0 !important;
// }
