html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin-bottom: 60px;
  @media all and (max-width: 768px) {
    margin-bottom: 75px !important;
  }
}

.main-page {
  margin-bottom: 0 !important;
}

.max-width-container {
  max-width: 1200px !important;
}
