.navbar-toggler {
	font-size: 16px;
	font-weight: 500;
	position: relative;
	display: flex;
	box-sizing: border-box;
	max-width: 200px;
	height: 40px;
	padding: 0 9px;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: all 0.2s ease;
	color: #fff !important;
	border: 1px solid currentColor;
	border-radius: 2px;
	align-items: center;
	justify-content: center;
 }
 
 .navbar-toggler-icon {
	width: 1.5em !important;
	margin-right: 10px;
 }
 
 .navbar-brand img {
	vertical-align: baseline;
 }
 
 .navbar-dark .navbar-nav .nav-link {
	 &:hover {
		color: #fff;
	 }
 }
 
 .py-5 {
	padding-top: 3.45rem !important;
 }

 #main-nav {
	margin: 5px;
	border-radius: 15px;
	background-color: #10101a;
	.navbar-nav {
		margin: 0 auto;
	 }
	.nav-item {
		padding-right: 40px;
	 }
	.nav-item.active {
		position: relative;
	 }
	.nav-link {
		position: relative;
	 }
	.nav-item.active .nav-link::before {
		position: absolute;
		bottom: -8px;
		left: 0;
		width: 100%;
		content: "";
		border-bottom: 4px solid #773fff;
	 }
	.dropdown-menu {
		padding-top: 30px;
		border: none;
		background-color: transparent;
	 }
	 .dropdown-menu::after {
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 22px);
		content: "";
		border-radius: 14px;
		background-color: #10101a;
	 }
	.dropdown-item {
		font-family: "Inter";
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		line-height: 230%;
		padding: 5px 20px;
		opacity: 0.5;
		color: #fff;
	 }
	.dropdown-item:hover {
		opacity: 1;
		color: #fff;
		background-color: transparent;
	 } 
 }
 
 #search-form {
	.form-control {
		padding: 10px 20px 12px 40px;
		color: #fff;
		border: none;
		border-radius: 72px;
		background-color: #36363f;
		background-image: url("../img/search.svg");
		background-repeat: no-repeat;
		background-position: 9px 7px;
	 }
	 .form-control {
		 &:focus {
			background-color: #36363f;
			box-shadow: none;
		 }
	 }
 }
 
 #search-form input::-webkit-input-placeholder {
	color: #9b9b9f;
 }
 
 #search-form input::-moz-placeholder {
	color: #9b9b9f;
 }
 
 #search-form input:-ms-input-placeholder {
	color: #9b9b9f;
 }
 
 #search-form input::placeholder {
	color: #9b9b9f;
 } 
 
 .navbar .nav-item:hover .dropdown-menu {
	display: block;
 }
 
 .dropdown-toggle {
	 &:after {
		display: inline-block;
		margin-left: 15px;
		content: "";
		vertical-align: 0.155em;
		border-top: 0.3em solid;
		border-right: 0.3em solid transparent;
		border-bottom: 0;
		border-left: 0.3em solid transparent;
	 }	
 }

 .form-control:focus {
	border-color: none;
 } 

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #fff;
  box-shadow: 0 0 0 1000px #000 inset;
  -webkit-text-fill-color: #fff;
}
