body {
  margin-bottom: 0 !important;
}

a {
  color: #773FFF;

  &:hover {
    text-decoration: none;
    color: #773FFF;
    opacity: 0.7;
  }
}

.main-row {
  min-height: 100vh;
}

.col-6 {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.background {
  position: absolute;
  width: 10000%;
  z-index: -1;
  height: 100%;
  right: 0;
  background-color: #FFF6D8;
}

.login-img {
  width: 95%;
}

.login-title {
  font-weight: 400 !important;
  font-size: 64px !important;
  line-height: 70px !important;
  margin-bottom: 15px !important;
  @media all and (max-width: 425px) {
    font-size: 45px !important;
  }
}

.login--wrapper {
  justify-content: center;
  max-width: 425px;
  margin: 0 auto;
  @media all and (max-width: 500px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.login-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 50px;
  @media all and (max-width: 1199px) {
    margin-bottom: 20px !important;
  }
}

.login-input {
  margin-bottom: 40px;
  position: relative;
}

.form {
  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #B7B7BA;
    box-shadow: none;
    outline:none;

    &:hover {
      box-shadow: none;
      border: none;
      border-bottom: 1px solid #B7B7BA;
    }

    &:focus {
      box-shadow: none;
      border: none;
      border-bottom: 1px solid #B7B7BA;
    }
  }
}

.login-button {
  width: 100%;
  font-size: 20px;
  background-color: #E0E1E2;
  color: #94949D;
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  margin-bottom: 16px;
  cursor: default !important;

  &.active {
    background-color: #773FFF;
    color: #fff;
    cursor: pointer !important;
  }
}

.social-block {
  margin: 0 auto;
  text-align: center;

  p {
    color: #94949D;
  }
}

.social-icon {
  width: 56px;
  height: 56px;
  background-color: #753EFB;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social-list {
  display: flex;
  justify-content: center;;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 16px;
  list-style: none;

  li {
    padding-right: 16px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.enter-text {
  margin-top: 40px;
}

.left-side {
  @media all and (max-width: 1023px)  {
    display: none;
  }
}

.agreement {
  position: relative;
  padding-left: 25px;
}

.agreement input[type=checkbox] {
  display: none;
}

.agreement label::after {
  content: '';
  display: block;
  height: 18px;
  width: 18px;
  outline: 1px solid #939598;
  position: absolute;
  border-radius: 4px;
  top: 3px;
  left: 0;
}

.agreement input[type=checkbox]:checked + label::after {
  content: '';
  background: url("../img/agree.svg") center no-repeat;
  width: 18px;
  height: 18px;
  background-color: #773FFF;
  border-radius: 4px;
  outline: none;
}

.personal {
  color: #000;
  text-decoration: underline;

  &:hover {
    color: #000;
    opacity: 0.7;
    cursor: pointer;
  }
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  box-shadow: none;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  transition: all 200ms;
  opacity: 0.5;
  z-index: -100;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -50%, 0);
  padding-bottom: 10px;
}

.form-control {
  margin-bottom: 30px !important;
  border-radius: 0 !important;
  padding: 0 !important;
  border-bottom: 1px solid #b7b7ba;
  box-shadow: none !important;
  background-color: transparent;

  &:focus {
    background-color: transparent;
    border-color: #b7b7ba;
  }
}

.eye-input {
  position: absolute;
  top: 5px;
  right: 6px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/eye-closed.svg) 0 0 no-repeat;
}

.eye-input.view {
  background: url(../img/eye.svg) 0 0 no-repeat;
}

.forgot-password-text {
  margin-bottom: 40px !important;
}

.forgot-email-form {
  margin-bottom: 30px;
}
