@media all and (max-width: 374px) {
	.navbar-nav {
	  width: 90% !important;
	}
	
	.navbar-brand {
		margin-right: 0.5rem;
	}
 
	#main-content {
	  p {
		 margin-bottom: 30px !important;
		 text-align: center;
	  }
	}

	.r-text {		
		font-size: 12px !important;
		margin-left: 20px;	
	 }
 }

 @media (min-width: 768px) and (max-width: 1023px) {
	.t-cell {
		&:first-child {
		  flex: 0 1 30%;
		  font-size: 20px;
		}
	 
		&:nth-child(2) {
			flex: 0 1 30%;
		  line-height: 22px;
		}
 }

 .t-col {
	 &:first-child {
		flex: 0 1 30%;
	 }
	 &:nth-child(2) {
		flex: 0 1 30%;  
	}	
 } 
 
}
 
 
 @media all and (max-width: 1199px) {
	 
	#main-nav {
		position: absolute;
		z-index: 1000;
		top: 0;
		left: 0;
		right: 0;
	}
	
	.line {
		display: none;
	}

	.container {
		h1 {
			margin-top: 10px;
		 }
		p {
			margin-bottom: 0;
		}
	}

	.bagde-and-select {
		margin-top: 25px;
		margin-bottom: 16px;
	 }

	.mt-5 {
		// margin-bottom: 8px !important;
		margin-top: 0 !important;
		margin-right: 10px;
		// padding: 5px;
	}

	.py-5 {
		margin-top: 82px !important;
	}

	
	#main-nav {
	 .dropdown-menu {
		 display: block;
		 width: 100%;
		 padding-top: 0 !important;
		 border-bottom: 1px solid rgba(255 255 255 / 0.5) !important;
		 border-radius: 0 !important;
		 -moz-column-count: 3;
		 column-count: 3;
		 &:after {
			 box-shadow: none;
		 }
	  }
	  .navbar-nav {
		 margin: 0;
	 }
	  .dropdown-item {
		 padding: 0 !important;
	  }
	 .nav-item {
		 padding-right: 0 !important;
	  }
	}
	
	#main-nav .nav-item.active .nav-link::before {
		display: none;
	}
	
	.navbar-collapse {
	  display: flex;
	  flex-direction: column;
	  align-items: start;
	}
 
	.navbar-nav {
	  width: 100%;
	  margin-top: 20px !important;
	  order: 2;
	}

	.navbar-brand img {
		display: block;
	}
 
	#search-form {
	  margin-top: 20px;
	  order: 1;
	  width: 100%;
	  .form-control {
		width: 100%;
	  }
	}	
 
	.dropdown-toggle::after {
	  display: none !important;
	}
 
	.navbar-dark .navbar-nav .nav-link {
	  font-size: 20px;
	  font-weight: 600;
	  line-height: 120%;
	  color: rgba(255 255 255 / 1);
	}

	.navbar__burger {
		display: block;
		position: relative;
		width: 110px;
		height: 20px;
		color: #fff;
		font-family: Inter;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 120%;
		span {
		 position: absolute;
		 background-color: #fff;
		 right: 0px;
		 width: 16px;
		 height: 2px;
		 top: 10px;
		 transition: all .3s ease 0s;
		 border-radius: 10px;
		}	
	 }	 
	
	 .navbar__burger::before,
	 .navbar__burger::after {
		content: "";
		background-color: #fff;
		position: absolute;
		width: 16px;;
		height: 2px;
		right: 0;
		transition: all 0.3s ease 0s;
		border-radius: 10px;
	 }
	 
	 .navbar__burger::before {
		top: 6px;
	 }
	 
	 .navbar__burger::after {
		bottom: 4px;
	 }
	 
	 .navbar__burger {
		 &:not(.collapsed) {
			 span {
				transform: scale(0);
			 }
			 &:before {
				transform: rotate(45deg);
	   		top: 10px;
			 }
			 &::after {
				transform: rotate(-45deg);
	   		top: 10px;
			 }
		 }
	 } 	 
 }

 @media all and (min-width: 1199px) {
	.navbar__burger {
		display: none;
	}
 }
 
 @media all and (max-width: 768px) {

	body {
		margin-bottom: 86px !important;
	}

	.main-page {
		margin-bottom: 0 !important;
	}

	#main-content {
	 h1 {
		 font-size: 72px !important;
		 min-width: 600px !important;
		 margin-top: 10px !important;
		 text-align: center;
	  }
	  p {
		 max-width: 450px !important;
		 margin: 30px auto;
		 text-align: center;
	  }
	}
 
 .main-image {
	  position: absolute;
	  z-index: -1;
	  top: -78px !important;
	  background-position-x: center !important;
	  background-size: 60% !important;
	  background-image: none !important;
	}
 
	#mobile-image {
	  display: block !important;
	  width: 100%;
	}
 
	.col-md-6 {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
 
	.pt-5,
	.py-5 {
	//   padding-top: 2rem !important;
	  padding-bottom: 0 !important;
	}
 
	.mt-3,
	.my-3 {
	  margin-top: 0 !important;
	}
 
	.navbar .nav-item .dropdown-menu {
	  margin-top: 0;
	}
 
	#main-nav {
	 .dropdown-menu {
		 -moz-column-count: 2;
		 column-count: 2;
	  }
	 .dropdown-item {
		 font-family: "Inter";
		 font-size: 16px;
		 font-weight: normal;
		 font-style: normal;
		 line-height: 230%;
		 padding: 0 !important;
	  }
	}
 
	.container,
	.container-md,
	.container-sm {
	  max-width: 900px;
	  
	}
 
	#main-nav .nav-item.active .nav-link::before {
	  display: none;
	}
 
	.main-button {
	  display: block;
	  width: 75%;
	  margin: 0 auto;
	}
 
	// .container {
	// 	margin-bottom: 5px;
	// }
 
	.container,
	.container-lg,
	.container-md,
	.container-sm {
	  max-width: 1200px !important;
	}	
	
 }
 
 @media all and (min-width: 767px) {
	.container,
	.container-md,
	.container-sm {
	  max-width: 1200px;
	}
 
	#main-content {
	 h1 {
		//  font-size: 72px !important;
		 margin-top: 10 !important;
		 
	  }
	  p {
		// font-size: 18px !important;		
		margin-right: auto;
		margin-bottom: 30px;
		
	 }	 
	}	
	.rating {
		margin: 40px auto;
	}
	.t-cell {		
		&:nth-child(4) {
		  font-size: 16px;
		  text-align: left;
		  font-weight: 600 !important;
		}
	}	
 }
 
 @media all and (max-width: 767px) {
	#main-content {
	 p {
		 font-size: 16px !important;
		 margin-left: auto;
		 margin-right: auto;
		 margin-bottom: 30px;
		 text-align: center;
	  }
	 h1 {
		 font-size: 72px !important;
		 text-align: center;
		 margin-top: 10 !important;
	  }
	}
 
	#mobile-image {
	  display: block;
	  width: 100%;
	}
	
	.t-header {
	  display: none !important;
	}
 
	.t-row {
	  display: table !important;
	  flex-direction: column;
	  flex-wrap: wrap;
	  border-radius: 12px;
	  margin-bottom: 16px;
	}
	.t-cell {
	  padding-right: 0 !important;
	  &:nth-child(2) {
		 order: -1 !important;
		 font-size: 16px;
		 line-height: 120%;
		 color: #773fff;
		 display: table-header-group;
	  }
	  &:nth-child(1) {
		 order: 0 !important;
		 font-family: Inter;
		 font-style: normal;
		 font-weight: 600;
		 font-size: 20px;
		 line-height: 120%;
		 color: #10101a;
		 padding-bottom: 20px;
		 padding-top: 15px;
	  }
	  &:nth-child(3) {
		 display: table-cell !important;
		 font-size: 12px;
		 width: 70%;
	  }
	  &:nth-child(4) {
		 font-size: 12px;
		 text-align: left;
		 font-weight: 400 !important;
	  }
	}
	.rating {
		margin: 16px auto;
	}

	.mt-5 {
		margin-right: 0 !important;
		width: 100% !important;
	}

	.filter-form {
		width: 100% !important;
	}

	.select-selected {
		width: 100% !important;
	}

	.select-items div {
		width: 100% !important;
	}

	.rating-icon {
		top: -4px;
	}
 }
 
 @media all and (max-width: 576px) {
	.container,
	.container-sm {
	  max-width: 700px;
	}
 
	#main-content p {
	  margin-bottom: 30px;
	  text-align: center;
	}
 
	#main-nav .nav-item.active .nav-link::before {
	  display: none;
	}
 }
 
 @media all and (max-width: 575px) {	
	 
	#main-content {
	 p {
		margin-bottom: 30px;
		text-align: center;
	  }
	 h1 {
		 font-size: 40px !important;
		 min-width: 280px !important;
		 margin-top: 10px !important;
		 text-align: center;
		 
	  }
	}
 
	#mobile-image {
	  display: block;
	  width: 100%;
	}
 
	#main-nav .nav-item.active .nav-link::before {
	  display: none;
	} 
 
	#main-nav .dropdown-menu {
	  -moz-column-count: 1;
	  column-count: 1;
	}
 
	.main-image {
	  background-size: 100% !important;
	}
 
	.footer {
	  height: 50px;
	}

	.copyright {
		margin-bottom: 42px;
	}
 }
 
 .rating {
	 max-width: 350px;
	 height: 56px;
	 background-color: #EBE2FF;
	 border-radius: 12px;
	 margin-bottom: 40px;
	 position: relative;
 }

 .rating-text {
	max-width: 265px;
	height: auto;
	margin: 0 auto;
 }

 .r-text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 120%;	
	color: #5622D2 !important;	
	opacity: 0.7 !important;
	text-align: left;
	padding: 12px 4px;
 }

 .r-text::before {
	 content: "";
	 background-image: url(../img/star.svg);
	 position: absolute;
	 display: block;
	 width: 24px;
	 height: 24px; 
	 top: 16px;
	 left: 9px;	 
 }
 