#filter-select {
  width: 300px;
  box-shadow: none;
}

.form-row > [class*=col-] {
  padding: 0 !important;  
}

.form-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.filter {
  margin-top: 3rem;
  width: 283px;
  @media all and (max-width: 1199px) {
    margin-top: 0;
  }
  @media (min-width: 500px) and (max-width: 767px) {
    width: 283px;
  }
  @media all and (max-width: 500px) {
    width: 100%;
  }
}

/* The container must be positioned relative: */
.custom-sel {
  position: relative;
  font-family: "Inter", sans-serif;
}

.custom-sel select {
  display: none; /* hide original SELECT element: */
}

.select-selected {
  position: relative;
  background-color: #FFF;
  border: 1px solid #E0E1E2;
  border-radius: 8px;  
  padding: 8px 15px;  
  cursor: pointer;  
}

/* Style the arrow inside the select element: */
.select-selected::after {
  position: absolute;
  content: "";
  background-image: url("../img/arrow.svg");
  transform: rotate(180deg);
  top: 10px;
  right: 7px;
  width: 24px;
  height: 24px;
  transition: all .2s ease 0s;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active::after {  
  transform: rotate(0deg);
  top: 10px;
}

.select-items div {
  padding: 9px 16px 0;  
  border-bottom: none;
  border-top: none;
  border-radius: 8px;
  @media all and (max-width: 500px) {
    width: 100% !important;
  }
}

/* Style items (options): */
.select-items {
  position: absolute;  
  top: 120%;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #FFF;
  border-radius: 8px;
  border: 1px solid #E0E1E2;
  box-shadow: 0 4px 12px 0 rgba(19 13 33 / 0.16);

  &:last-child {
    padding-bottom: 15px;
  }
  @media (min-width: 500px) and (max-width: 767px) {
    width: 283px
  }
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  position: relative;
  background-color: #FFF;
  color: #773FFF;
  cursor: pointer;
}

.selected {
  position: relative;
}

.selected::after {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/check.svg");
  top: 9px;
  right: 6px;
}
