@import "header";
@import "main-page";
@import "courses";
@import "footer";
@import "mobile";

/* stylelint-disable font-family-no-missing-generic-family-keyword */

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin-bottom: 60px;  
}

