.high-rating-icon, .low-rating-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: bottom;
  background-image: url("../img/star.svg");
  @media all and (max-width: 767px) {
    margin-top: -4px;
  }
}

.low-rating-icon {
  background-image: url("../img/gray-star.svg");
}

.low-rating, .high-rating {
  display: inline-block;
}

.low-rating {
  color: #B7B7BA;
}

.rating {
  max-width: 350px;
  height: 56px;
  background-color: #EBE2FF;
  border-radius: 12px;
  margin-bottom: 40px;
  position: relative;
  @media all and (max-width: 767px) {
    margin: 16px auto;
  }
  @media all and (min-width: 767px) {
    margin: 40px auto;
  }
}

.rating-text {
  max-width: 272px;
  height: auto;
  margin: 0 auto;
}

.r-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #5622D2 !important;
  opacity: 0.7 !important;
  text-align: left;
  padding: 12px 4px;
  @media all and (max-width: 374px) {
    font-size: 12px !important;
    margin-left: 20px;
  }
}

.r-text::before {
  content: "";
  background-image: url("../img/star.svg");
  position: absolute;
  display: block;
  width: 24px;
  height: 24px; 
  top: 16px;
  left: 9px;
}
