.grid {
  margin-bottom: 50px;
}

.t-header,
.t-col,
.t-row {
  font-style: normal;
  line-height: 120%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between !important;
}

.t-header {
  font-size: 20px;
  max-width: 1328px;
  padding: 5px 20px 20px;
  justify-content: space-between !important;
  @media all and (max-width: 1023px) {
    display: none !important;
  }
}

.t-col {
  opacity: 0.3;
  font-size: 1rem;
  max-width: 1328px;
  flex: 0 1 18%;
  @media (min-width: 768px) and (max-width: 1023px) {
    flex: 0 1 18%;
  }

  &:first-child {
    flex: 0 1 34%;
    @media (min-width: 768px) and (max-width: 1023px) {
      flex: 0 1 30%;
    }
  }

  &:nth-child(4) {
    flex: 0 1 8%;
  }

  &:last-child {
    display: none;
  }
}

.t-row {
  font-size: 20px;
  padding: 24px;
  font-weight: 600;
  color: #101019;
  background-color: #FAFBFC;

  &:hover {
    background-color: #F3F5F8;
  }
  @media all and (max-width: 1023px) {
    display: block;
    flex-flow: column wrap;  
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 15px;
  }
}

.t-cell {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  flex: 0 1 19%;
  padding: 10px 0;
  @media (min-width: 768px) and (max-width: 1023px) {
    flex: 0 1 18%;
  }

  span {
    color: #773FFF;
  }
  @media all and (max-width: 767px) {
    padding-right: 0 !important;
    flex: 0;
  }

  &:nth-child(1) {
    @media all and (max-width: 1023px) {
      order: 0 !important;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      color: #10101a;
      padding-bottom: 20px;
      padding-top: 15px;
    }
  }

  &:first-child {
    flex: 0 1 35%;
    font-size: 20px;
    padding-right: 30px;
    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 20px;
      flex: 0 1 30%;
    }
  }

  &:nth-child(2) {
    line-height: 22px;
    font-style: normal;
    font-weight: normal;  
    color: #773fff;
    @media all and (max-width: 1023px) {
      order: -1 !important;
      font-size: 16px;
      line-height: 120%;
      color: #773fff;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      flex: 0 1 18%;
      line-height: 22px;
    }
  }

  &:nth-child(3) {
    font-size: 16px;
    font-weight: 400 !important;
    line-height: 22px;
    @media all and (max-width: 767px) {
      display: table-cell !important;
      font-size: 16px;
      font-weight: normal;
      width: 70%;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      flex: 0 1 18%;
    }
  }

  &:nth-last-child(2) {
    padding-right: 0;
    display: flex;
    max-height: 52px;
    justify-content: flex-end;
    line-height: 22px !important;
    @media (min-width: 320px) and (max-width: 1023px) {
      justify-content: flex-start;
    }
  }

  &:nth-child(4) {
    color: #773fff;
    flex: 0 1 8%;
    @media all and (min-width: 767px) {
      font-size: 16px;
      text-align: left;
      font-weight: 600 !important;
    }
    @media all and (max-width: 767px) {
      font-size: 16px;
      text-align: left;
      font-weight: 600 !important;
    }
  }

  &:last-child {
    display: none;
  }
}

.row-link {
  text-decoration: none !important;
}

.recommended-badge {
  display: flex;
  background-color: #773FFF;
  max-width: 160px;
  border-radius: 8px;
  justify-content: space-between;
  padding: 4px 10px;
}

.recommended-icon {
  margin-right: 7px;
  width: 24px;
  height: 24px;
  background-image: url("../img/thumb-up.svg");
}

.recommended-text {
  color: #FFF !important;
  font-weight: 400;
}
