{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}

{% block content %}

    <img class="error-image" src="{% webpack_static 'img/not.png' %}" alt="404">
     <h1 class="error-title" >Такой страницы не существует</h1>
     <p class="error-text" >Возможно, она была удалена или введён неправильный адрес</p>
    <div class="error-button">
      <a href="{% url 'courses:list' %}" class="btn main-button">К списку курсов</a>
    </div>

{% block fund %}{% endblock %}
{% endblock content %}
