{% load static %}

<nav id="main-nav" class="navbar navbar-expand-xl navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'core/img/logo.svg' %}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav mr-auto">
        {% for category in categories %}
          {% if category.get_children %}
            <li class="nav-item dropdown {% if request.GET.categories == category.pk|slugify %}active{% endif %}{% for child in category.get_children %}{% if request.GET.categories == child.pk|slugify %}active{% endif %}{% endfor %}">
              <a class="nav-link dropdown-toggle" href="{% url 'courses:list' %}?categories={{ category.pk }}" data-bs-toggle="dropdown">{{ category.name }}</a>					
				  <ul class="dropdown-menu">
                {% for child in category.get_children %}
                  <li><a class="dropdown-item" href="{% url 'courses:list' %}?categories={{ child.pk }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>				  			
            </li>
          {% else %}
            <li class="nav-item {% if request.GET.categories == category.pk|slugify %}active{% endif %}">
              <a class="nav-link" href="{% url 'courses:list' %}?categories={{ category.pk }}">{{ category.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <form id="search-form" class="form-inline" action="{% url 'courses:list' %}">
        <input class="form-control mr-sm-2 " name="name__icontains" type="search" placeholder="Поиск" aria-label="Search" value="{{ request.GET.name__icontains }}">        
      </form>
    </div> <!-- navbar-collapse.// -->
  </div> <!-- container-fluid.// -->
</nav>
