{% load webpack_static from webpack_loader %}

<nav id="main-nav" class="navbar navbar-expand-xl navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% webpack_static 'img/logo.svg' %}" alt="logo"></a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
      Все курсы </button> -->
      <div class="navbar__burger" data-toggle="collapse" data-target="#main_nav">Все курсы<span></span></div>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav mr-auto">
        {% for category in categories %}
          {% if category.get_children %}
            <li class="nav-item dropdown {% if request.resolver_match.kwargs.slug == category.slug %}active{% endif %}{% for child in category.get_children %}{% if request.resolver_match.kwargs.slug == child.slug %}active{% endif %}{% endfor %}">
              <a class="nav-link dropdown-toggle" href="{% url 'courses:category' slug=category.slug %}" data-bs-toggle="dropdown">{{ category.name }}</a>
              <ul class="dropdown-menu">
                {% for child in category.get_children %}
                  <li><a class="dropdown-item" href="{% url 'courses:category' slug=child.slug %}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item {% if request.resolver_match.kwargs.slug == category.slug %}active{% endif %}">
              <a class="nav-link" href="{% url 'courses:category' slug=category.slug %}">{{ category.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <form id="search-form" class="form-inline" action="{% url 'courses:list' %}">
        <input class="form-control mr-sm-2 " name="name" placeholder="Поиск" autocomplete="off" aria-label="Search" value="{{ request.GET.name__icontains }}">
      </form>
    </div>
  </div>
</nav>
