{% extends 'base.html' %}

{% load webpack_static from webpack_loader %}

{% block body_class %}main-page{% endblock body_class %}

{% block content %}
  <div class="row">	  
    <div id="main-content" class="col-md-6">
      <h1>Сравниваем онлайн-курсы в&nbsp;сфере&nbsp;IT</h1>
      <p class="main-text" >Чтобы&nbsp;вы с&nbsp;лёгкостью могли подобрать для себя лучший курс из&nbsp;сотен предложений.</p>		
      <a href="{% url 'courses:list' %}" class="btn btn-primary mt-3 main-button">Начать поиск</a>
      <img id="mobile-image" src="{% webpack_static 'img/main-image.png' %}" alt="">
  	</div>
	  <div class="main-image">
		
	  </div>
</div>
  
{% endblock content %}

{% block footer %}{% endblock %}
