{% extends 'base.html' %}

{% load webpack_static from webpack_loader %}

{% block body_class %}main-page{% endblock body_class %}

{% block content %}
  <div class="row">
    <div id="main-content">
      <h1>{{ config.title }}</h1>
      <p class="main-text font-weight-normal">{{ config.description }}</p>
      <a href="{% url 'courses:list' %}" class="btn btn-primary main-button">Выбрать курс</a>
      <img id="mobile-image" src="{% webpack_static 'img/main-image.png' %}" alt="">
    </div>
    <div class="main-image">
    </div>
  </div>

{% endblock content %}

{% block fund %}{% endblock %}
{% block footer %}{% endblock %}
