@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
	 font-family: 'Inter', sans-serif !important;
	 background-image: url(../img/main-image.png);
	 background-repeat: no-repeat;
	 background-position-x: center;
	 background-position-y: center;
	 overflow: hidden;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

@media all and (max-width: 575px) {
    body {
        margin-bottom: 60px;
    }

    .footer {
        height: 120px;
    }
}

/************************/
/*                      */
/* NEW STYLES GOES HERE */
/*                      */
/************************/

#main-nav {
	background-color: #10101A;
	border-radius: 15px;
	margin: 5px;
}

#main-content h1 {
	font-weight: bold;
	margin-top: 40px;	
}

#main-content p {
	font-weight: bold;
	margin-top: 30px;
}

.main-button {
	background-color: #773FFF;
	border-radius: 10px;
	border: none;
	padding: 10px 30px;	
}

.form-control {
	background-color: #B7B7BA;
	border-radius: 72px;
	border: none;
	background-color: none;
	background-image: url('../img/search.svg');
	background-position: 9px 7px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
}

.mr-auto {
	margin: 0 auto;
}

.collapse {
	position: relative;
}

.nav-item {
	padding-right: 20px;
}

.nav-item:last-child {
	padding-right: 0px;
}

.link-active:after {
	content: "";
	display: block;
	position: absolute; !important
	height: 2px;
	background: #773FFF;	
	bottom: 10px;
}
