

/*************************/
/*                       */
/*  MOBILE STYLES START  */
/*                       */
/*************************/

@media all and (max-width: 320px) {
  .navbar-nav {
    width: 90% !important;
  }

  #main-content p {
	margin-bottom: 0 !important;
}
}

@media all and (max-width: 1199px) {
  #main-nav .dropdown-menu {
    display: block;
    width: 100%;
    padding-top: 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, .5) !important;
    border-radius: 0 !important;
    column-count: 3;
  }

  #main-content p {
	margin-bottom: 0 !important;
  }

  #main-nav .dropdown-item {
    padding: 0 !important;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;

    align-items: start;
  }

  #main-nav .nav-item {
    padding-right: 0 !important;
  }

  .navbar-nav {
    width: 100%;
    margin: 20px 0 !important;

    order: 2;
  }

  #search-form {
    margin-top: 20px;

    order: 1;
  }

  .dropdown-toggle::after {
    display: none !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: rgba(255,255,255, 1);
  }
}

@media all and (max-width: 768px) {
  #main-content h1 {
    font-size: 72px !important;
    min-width: 600px !important;
    margin-top: 0 !important;
  }

  #main-content p {
	margin-bottom: 0;
  }

  .main-image {
    background-image: none !important;
  }

  #mobile-image {
    display: block !important;
    width: 100%;
  }

  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pt-5,
  .py-5 {
    padding-top: 1.5rem !important;
    padding-bottom: 0 !important;
  }

  .mt-3,
  .my-3 {
    margin-top: 0 !important;
  }

  #main-nav .dropdown-menu {
    column-count: 2;
  }

  .container,
  .container-md,
  .container-sm {
    max-width: 900px;
  }

  #main-nav .nav-item.active .nav-link:before {
    display: none;
  }

  #main-content p {
    max-width: 450px !important;	 
	 margin-bottom: 0;	
  }

  .main-image {
    position: absolute;
    z-index: -1;
    top: -78px !important;
    background-position-x: center !important;
    background-size: 60% !important;
  }

  .main-button {
    display: block;
    width: 100%;
  }

  .container {
    margin: 0;
  }

  #main-nav .dropdown-item {
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 230%;
    padding: 0 !important;
  }

  #main-nav .nav-item.active .nav-link:before {
    display: none;
  }
}

#main-nav .nav-item.active .nav-link:before {
  display: none;
}

.container,
.container-lg,
.container-md,
.container-sm {
  max-width: 1200px !important;
}

.navbar .nav-item:hover .dropdown-menu {
  display: block;
}

.navbar .nav-item .dropdown-menu {
  margin-top: 0;
}

@media all and (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 1200px;
  }

  #main-content h1 {
    font-size: 72px !important;
  }

  #main-content p {
    font-size: 20px !important;
	 margin-bottom: 0 !important;
  }

  #main-nav .nav-item.active .nav-link:before {
    display: none;
  }
}

@media all and (max-width: 767px) {
  #main-content p {
    font-size: 20px !important;
    min-width: 291px !important;
	 margin-bottom: 0;
  }

  #mobile-image {
    display: block;
    width: 100%;
  }

  #main-content h1 {
    font-size: 72px !important;
  }
}

@media all and (max-width: 576px) {
  .container,
  .container-sm {
    max-width: 700px;
  }

  #main-content p {
	margin-bottom: 0;
}

  #main-nav .nav-item.active .nav-link:before {
    display: none;
  }
}

@media all and (max-width: 575px) {
  body {
    margin-bottom: 60px;
  }

  #main-content p {
	margin-bottom: 0;
}

  #mobile-image {
    display: block;
    width: 100%;
  }

  #main-nav .nav-item.active .nav-link:before {
    display: none;
  }

  #main-content h1 {
    font-size: 40px !important;
    min-width: 300px !important;
    margin-top: 0 !important;
  }

  #main-nav .dropdown-menu {
    column-count: 1;
  }

  .main-image {
    background-size: 100% !important;
  }

  .footer {
    height: 120px;
  }
}

/*************************/
/*                       */
/*   MOBILE STYLES END   */
/*                       */
/*************************/

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin-bottom: 60px;
}

.footer {
  line-height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

/************************/
/*                      */
/* NEW STYLES GOES HERE */
/*                      */
/************************/

.navbar-toggler {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  max-width: 200px;
  height: 40px;
  padding: 0 9px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .2s ease;
  color: #fff !important;
  border: 1px solid currentColor;
  border-radius: 2px;

  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.navbar-toggler-icon {
  width: 1.5em !important;
  margin-right: 10px;
}

.navbar-brand img {
  vertical-align: baseline;
}

#main-nav {
  margin: 5px;
  border-radius: 15px;
  background-color: #10101a;
}

#main-nav .navbar-nav {
  margin: 0 auto;
}

#main-nav .nav-item {
  padding-right: 40px;
}

#main-nav .nav-item.active {
  position: relative;
}

#main-nav .nav-link {
  position: relative;
}

#main-nav .nav-item.active .nav-link:before {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  content: '';
  border-bottom: 4px solid #773fff;
}

#main-content h1 {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 80px;
  font-weight: bold;
  line-height: 110%;
  min-width: 650px;
  margin-top: 20px;
}

#mobile-image {
  display: none;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

#main-content p {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  margin-top: 34px;
  margin-bottom: 55px;
}

.main-button {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  padding: 15px 32px;
  border: none;
  border-radius: 15px;
  background-color: #773fff;
}

#search-form .form-control {
  padding: 10px 20px 12px 40px;
  color: #fff;
  border: none;
  border-radius: 72px;
  background-color: #36363f;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 9px 7px;
}

#search-form .form-control:focus {
  background-color: #36363f;
  box-shadow: none;
}

#search-form input::placeholder {
  color: #9b9b9f;
}

.main-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/main-image.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 60%;
}

#main-nav .dropdown-menu {
  padding-top: 30px;
  border: none;
  background-color: transparent;
}

#main-nav .dropdown-menu::after {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 22px);
  content: '';
  border-radius: 14px;
  background-color: #10101a;
}

#main-nav .dropdown-item {
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 230%;
  padding: 5px 20px 5px 20px;
  opacity: .5;
  color: #fff;
}

#main-nav .dropdown-item:hover {
  opacity: 1;
  color: #fff;
  background-color: transparent;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 15px;
  content: '';
  vertical-align: .155em;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.btn-primary:hover {
  opacity: .75 !important;
  color: #fff;
  background-color: #773fff !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 0 1000px #000 inset;
  box-shadow: 0 0 0 1000px #000 inset;
  -webkit-text-fill-color: #fff;
}

.t-header {
	font-size: 0;
	display: flex;
	justify-content: space-between !important;
	flex-direction: row;
	margin-top: 30px;
   margin-bottom: 20px;
	padding-left: 30px;
}

.t-col {
	width: 15%;
	display: inline-block;
	font-size: 1rem;
	opacity: 0.3;
}

.t-row {
	display: flex;
	justify-content: space-around !important;	
	background-color: #F3F5F8;	
	max-width: 1328px;
	height: 136px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 5px;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	color: #10101A;

}

.t-cell {
	width: 15%;
	display: inline-block;
	font-size: 1rem;
	padding-top: 25px;
	padding-left: 25px;
}

.badges {
	max-width: 600px;
}


.badge {
	width: auto !important;
	height: 31px !important;
	border-radius: 8px !important;
}

.badge-primary {
	background-color: #fff !important;
	color: black !important;    
	font-size: 16px;
	text-align: center;
	border: 1px solid #E0E1E2;
	font-style: normal;
	font-weight: normal;
	line-height: 120%;
	margin-bottom: 10px;
	box-shadow: none !important;
}

.badge-dark {
	background-color: #773FFF !important;
	color: white !important;
	font-size: 16px;
	text-align: center;
	align-items: center;
	font-style: normal;
	font-weight: normal;
	line-height: 120%;
	box-shadow: none !important;
}

#filter-select {
	box-shadow: none;
	width: 300px;	
}

.form-control:focus {	
	border-color: none;	
}

.row-link {
	text-decoration: none !important;
}