.navbar-dark .navbar-nav .nav-link {
  &:hover {
    color: #fff;
  }
  @media all and (max-width: 1199px) {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: rgba(255 255 255 / 1);
  }
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar .nav-item .dropdown-menu {
  @media all and (max-width: 768px) {
    margin-top: 0;
  }
}

.navbar .nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle {
  &::after {
    display: inline-block;
    margin-left: 10px;
    content: "";
    width: 10px;
    height: 6px;
    background-image: url("../img/Vector.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: 0.155em;
    border: 0 !important;
    opacity: 0.5;
    @media all and (max-width: 1199px) {
      display: none !important;
    }
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.navbar-collapse {
  @media all and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.navbar-burger::before,
.navbar-burger::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 16px;;
  height: 2px;
  right: 0;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
}

.navbar-burger::before {
  top: 6px;
}

.navbar-burger::after {
  bottom: 4px;
}

.navbar-burger {
  &:not(.collapsed) {
    span {
      transform: scale(0);
    }

    &::before {
      transform: rotate(45deg);
      top: 10px;
    }

    &::after {
      transform: rotate(-45deg);
      top: 10px;
    }
  }
  @media all and (min-width: 1199px) {
    display: none;
  }
  @media all and (max-width: 1199px) {
    display: block;
    position: relative;
    width: 110px;
    height: 20px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;

    span {
      position: absolute;
      background-color: #fff;
      right: 0;
      width: 16px;
      height: 2px;
      top: 10px;
      transition: all .3s ease 0s;
      border-radius: 10px;
    }
  }
}
